/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

p { margin-bottom: 10px;}

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#222; text-decoration:none; }

mark { background-color:#ff9; color:#222; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #222; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; background: url(../images/bg.jpg) center top no-repeat; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#222; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1 { font-size: 180%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#555; }
a:hover, a:focus { color:#3f3f3f; text-decoration: none; }


ul { margin-left:25px; margin-bottom: 10px;  }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }





 /* Primary Styles
    Author: 
 */

.container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	clear: both
}

nav {
	border-top: 5px solid #222!important;
	margin: 0 5px 15px;
	width: 890px;
	overflow: hidden;
	border-left: 1px solid #222
}
nav ul {
	width: 100%
}
nav ul {
	display: inline;
	margin: 0;
	padding: 0;
	width: 100%
}
nav ul li {
	display: inline;
	float: left;
	margin: 0!important;
}
nav ul li a {
	display: inline;
	float: left;
	margin: 0!important;
	width: 126px;
	border-right: 1px solid #222;
	font-size: 120%;
	line-height: 23px;
	padding: 2px 0;
}
nav ul li a,nav ul li a:visited {
	color: #222;
	text-decoration: none
}
nav ul li a:hover, nav ul li a:focus {
	color: #222
}
nav ul li a.hover, nav ul li a:hover, nav ul li a:focus {
	background: rgba(255, 255, 255, .6);
}
nav ul li a.active {
	background: #fff;
	width: 127px;
}

#twitter,#gallery,#sponsors-box,#sidebar,#main,footer {
	background: #bbb;
	border: 10px solid #222
}

#twitter {
	width: 250px;
	height: 165px;
	float: right;
	padding: 5px 10px 10px;
	text-align: left;
	margin: 5px 5px 10px;
	overflow: hidden
}
.twitter-bird {
	overflow: visible;
	position: absolute;
	top: 30px;
	right: -15px;
	width: 82px;
	height: 72px;
	background: url(../images/twitter-bird.png) no-repeat
}
#twitter h2 {
	padding-bottom: 5px;
	font-size: 115%;
	font-weight: lighter
}
#twitter h2 a,#twitter h2 a:active,#twitter h2 a:visited {
	color: #222;
	text-decoration: none
}
#twitter h2 a:hover,#twitter h2 a:focus {
	color: #222;
	text-decoration: underline
}
#twitter ul {
	margin: 0
}
#twitter ul li {
	list-style: none;
	padding: 0 0 5px;
	margin: 0
}
.tweet_avatar {	
	float: left;
	margin: 0 5px 0 0;
}
.tweet_time {
	font-size: 85%
}
.tweet_time a,.tweet_time a:active,.tweet_time a:visited {
	color: #fff;
	text-decoration: none
}
.tweet_time a:hover,.tweet_time a:focus {
	color: #fff;
	text-decoration: underline
}

.photo {
	float: left;
	width: 291px;
	height: 414px;
	margin: 5px 4px 0 4px;
	overflow: visible;
	position: relative;
}
.photo img {
	position: absolute;
	bottom: 0;
	left: 1px;
}

header {
	width: 279px;
	margin: 5px 5px 10px;
	float: left
}
header.frontpage {
	width: 279px;
	margin: 5px 5px 10px;
	float: left;
	padding-top: 60px
}

h1.name {
	font-family: 'Reenie Beanie', arial, serif;
	font-size: 500%
}
.name a {
	text-decoration: none!important
}

#gallery {
	width: 570px;
	height: 370px;
	margin: 0 5px 10px;
	float: right
}

#sponsors-box,#sidebar,#main {
	text-align: left
}

#sponsors-box {
	width: 250px;
	border-bottom: none;
	height: 166px;
	float: left;
	margin: 0 5px;
	padding: 10px
}

#sidebar {
	width: 270px;
	margin: 0 5px 5px;
	float: right;
	border-top: none
}
#sidebar .block {
	float: left;
	width: 270px;
}
#sidebar .block .content {
	padding: 10px;
}
#sidebar .block.block-search {
	padding: 0;
	width: 270px;
	border-top: 10px solid #222;
}
#sidebar .block.block-search .content {
	padding: 0;
}
#user-login-form {
	padding: 0;
}
#user-login-form #edit-actions--3 {
	margin: 10px 0 0;
}
#edit-actions--2 {
	margin: 10px 0 0;
}

#main {
	width: 570px;
	margin: 0 5px 5px;
	float: left;
	border-top: none
}
#main h2.title {
	border-top: 10px solid #222;
	padding: 5px 10px;
	background: #fff;
}
.node-type-page #main .title, #main h3.title, #sidebar .title, #sidebar h3 {
	border-bottom: 10px solid #222;
	border-top: 10px solid #222;
	padding: 5px 10px;
	background: #fff
}
.node-type-video .title, .node-type-blog .title {
	border-bottom: 10px solid #222;
}

article img {
	max-width: 550px;
	margin: 10px 0;
}

.node-video iframe, .node-video .facebook-video {
	margin-left: -10px;
	margin-bottom: 0;
	border-top: 10px solid #222;
	width: 570px;
}
.node-video #comments {
	margin-top: 0;
}
.node-video article {
	margin-bottom: -3px;
}
.description {
	margin-bottom: 0px;
}
.node-video .descriptionyes iframe, .node-video .descriptionyes .facebook-video  {
	border-bottom: 10px solid #222;
}
.node-video .descriptionyes #comments {
	margin-top: 10px;
}
.node-video .descriptionyes .description {
	margin: 5px 0 12px;
}
.node-video.node-teaser iframe, .node-video.node-teaser .facebook-video {
	border-top: none;
	border-bottom: none;
}
.comment-form #edit-actions {
	margin-bottom: 0;
}

.title a,.views-field-title a {
	color: #222
}

form,#main .view-blog-archive {
	padding: 10px
}

article {
	margin: 10px;
}

ul.primary.tabs {
	margin: 0;
	padding: 0
}
ul.primary.tabs li a {
	border: none;
	background: #222;
	color: #fff;
	padding: 0 15px 2px
}
ul.primary.tabs li a.active {
	border: none;
	background: #555;
	color: #fff;
	padding: 0 15px 2px;
	border-top: 2px solid #555
}

.form-item {
	margin-top: 0
}

.submitted {
	margin: 0 10px;
	padding: 10px 10px 0;
	font-size: 95%;
	display: block
}

.node div.links {
	padding: 0 10px 10px
}
.node ul.links {
	padding: 0;
	margin: 0
}
.node ul.links li {
	padding: 5px
}
.node-video.node-teaser .link-wrapper {
	margin-top: 5px;
}

.views-field-body {
	padding: 10px
}
.views-field-comments-link,.views-field-comment-count,.views-field-created {
	padding: 0 10px 10px
}
.view-front-page .views-field-comments-link .comment_add {
	padding: 0
}

#comments {
	background: #ddd;
}
#comments .comment-div {
	border-top: 10px solid #222;
	padding: 10px
}
.comment-submitted {
	font-size: 95%
}
#comments p {
	margin-bottom: 5px
}

footer {
	margin: 5px;
	float: left;
	padding: 10px;
	width: 850px
}
footer p {
	margin-bottom: 0;
}

.feed-container {
	position: relative;
}

a.feed-icon {
	border-top: 8px solid #222;
	display: block;
	text-decoration: none;
	color: #fff;
	background: #222;
	padding: 1px 0 0 15px;
	font-size: 110%;
	font-weight: bolder;
	height: 14px;
	margin-bottom: -1px;
}
/* Credit for the beginning of the CSS only RSS icon goes to Nicolas Gallagher at http://nicolasgallagher.com/pure-css-social-media-icons/ */
/* create circle */
.feed-icon:before {
	content: "\00a0";
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 3px;
	height: 3px;
	background: #ff7100;
	
	/* css3 */
	-moz-border-radius: 0 3px 0 1px;
	-webkit-border-radius: 0 3px 0 1px;
	border-radius: 0 3px 0 1px;
}

/* create the two arcs */
.feed-icon:after {
	content: "\00a0";
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 5px;
	height: 5px;
	border-style: double;
	border-width: 6px 6px 0 0;
	border-color: #ff7100;

  /* css3 */
	-moz-border-radius: 0 12px 0 0;
	-webkit-border-radius: 0 12px 0 0;
	border-radius: 0 12px 0 0;
}
a.feed-icon:hover, a.feed-icon:focus {
	color: #ff8000;
}

.link-wrapper {
	margin: 0 10px;
}
.node-teaser .link-wrapper {
	margin: 0 10px 10px;
}

div.messages {
	margin: 0;
	border-width: 2px;
}

#block-search-form {
	
}
#block-search-form form {
	padding: 0;
}
#block-search-form input[type="text"] {
	background: #DDD;
	border: none;
	margin: 0px;
	height: 15px;
	padding: 5px;
	width: 205px;
}
#block-search-form input[type="submit"] {
	background: #ddd;
	border: none;
	margin: 0px;
	padding: 5px;
	position: absolute;
	right: 0px;
	width: 55px;
	font-weight: bold;
	height: 25px;
}
#block-search-form .container-inline {
	position: relative;
}

#block-user-login .content {
	display: none;
	border-top: 10px solid #222;
}
#block-user-login h3 {
	cursor: pointer;
	border-bottom: none;
}

.field-type-taxonomy-term-reference .field-label {
	display: none;
}
.field-type-taxonomy-term-reference .field-item {
	
}
.field-type-taxonomy-term-reference .field-item a:after {
	content: ", ";
}

.view-id-tags .views-row {
	display: inline;
}





/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

								